#ignore kicad backup files
*.bak
*.sch-bak
*.log
*.kicad_pcb-bak
#ignore ltspice log files
simulation/*.log
simulation/*.plt
simulation/*.raw
simulation/*.net
modeling/*.log
modeling/*.plt
modeling/*.raw
modeling/*.net
#matlab backup files
*.m~
#femm files
*.edge
*.ans
#osx files
*.DS_Store
#for firmware
*.tmp
firmware/.Xil/
#simulation
/firmware/sim/results.xml
/firmware/sim/*.pyc
/firmware/sim/waveform.vcd
/firmware/sim/waves.pkl
/firmware/sim/sim_build/
/firmware/sim/build/
#build files
firmware/bitstream.bin
firmware/bitstream.bit
firmware/build/
firmware/src/firmware.bin
firmware/src/firmware.elf
firmware/src/firmware.hex
